body {
    font-family: 'Segoe UI', sans-serif;
    background: url("backs/logBack.webp");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 4px 3px 3px black;
    padding: 5px 40px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
    min-height: 350px;
}

.form-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.form-toggle button {
    padding: 0px 0px 0px 5px;
    border: none;
    background-color: #e0e0e000;
    color : blue;
    cursor: pointer;
    font-weight: light;
    transition: background-color 0.3s ease;
}

.form-toggle button.active {
    display : none;
    background-color: #007bff;
    color: white;
}

.form-section {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.form-section.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0px;
    transform: translateX(20px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    color: #007bff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.flash-notificationss{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: green;
    background-color : rgba(0,255,0,1);
    border-radius: 15px;
    position: fixed;
    z-index: 5;
    top: 20px; 
}

.flash-notifications{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: rgb(255, 0, 0);
    background-color : rgba(255,255,255,1);
    border-radius: 7px;
    position: fixed;
    z-index: 5;
    top: 20px; 
}
